# ==========================================================
# VARIÁVEIS DE AMBIENTE - EXEMPLO DE CONFIGURAÇÃO (POSTGRES)
#
# CRIE UMA CÓPIA DESTE ARQUIVO E RENOMEIE-A PARA .env
# PREENCHA COM SUAS CREDENCIAIS REAIS E LOCAIS.
# ==========================================================

# ----------------------------------------------------------
# 1. VARIÁVEIS USADAS DIRETAMENTE PELA APLICAÇÃO (SPRING BOOT)
#    (Mapeiam para a seção 'spring.datasource' no seu application.yml)
# ----------------------------------------------------------

# URL de Conexão JDBC. Se estiver usando Docker Compose, o host será o nome do serviço (ex: 'db').
# Exemplo: jdbc:postgresql://localhost:5432/nome_do_banco
DATABASE_URL=jdbc:postgresql://localhost:5432/SUA_BASE_DE_DADOS

# Usuário de Acesso ao Banco
DATABASE_USERNAME=SEU_USUARIO

# Senha de Acesso ao Banco
DATABASE_PASSWORD=SUA_SENHA_FORTE_AQUI


# ----------------------------------------------------------
# 2. VARIÁVEIS USADAS PELO CONTAINER DOCKER DO POSTGRES
#    (Mapeiam para a seção 'environment' do serviço 'db' no docker-compose.yml)
# ----------------------------------------------------------

# Nome da Base de Dados a ser criada dentro do container Postgres
POSTGRES_DB=SUA_BASE_DE_DADOS_DOCKER

# Usuário de acesso inicial do Postgres
POSTGRES_USER=SEU_USUARIO_DOCKER

# Senha do usuário de acesso inicial
POSTGRES_PASSWORD=SUA_SENHA_FORTE_DOCKER